---
import CommentBox from "../../components/CommentBox.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogComments from '../../components/React/BlogComments.jsx';
import BlogPunctuation from '../../components/React/BlogPunctuation.jsx';

export async function getStaticPaths() {
    let response = await fetch('http://localhost:4000/api/blogs');
    let data = await response.json();
    let blogs = data.blogs;
    
    return blogs.map(({ linkTitle, title, id, cardImage, publicationDate, content }) => {
        return{
            params: {blog: linkTitle},
            props: {title, id, cardImage, publicationDate, content},
            fallback: true
        };
    })
};

const { blog } = Astro.params;
const { title, id, cardImage, publicationDate, content } = Astro.props;
---

<BaseLayout>
<div class="blogPost">
    <h1 class="blogTitle">{title}</h1>
    <p class="blog-id" style="display: none;">{id}</p>
    <span class="blogDate">publicado el {publicationDate}</span>
    
    <img src= `${cardImage}` alt="">

    <div class="blogContent">
        {content}
    </div>

    <script>
    const contentHTML = document.querySelector(".blogContent");
    contentHTML.innerHTML = contentHTML.textContent
    </script>

    <div class="division"></div>

   <CommentBox/>
   <BlogComments blogId={id} client:only/>
    <BlogPunctuation blogId={id} client:only/>
</div>
</BaseLayout>

<script>
    import "../../scripts/comment.js";
    import "../../scripts/tokenExpiration.js";
</script>


