---
const response = await fetch('http://localhost:4000/api/blogs');
const data = await response.json();
const blogs = data.blogs;
---


<div class="articles"> 
    { 
    blogs.map((blog) => (
    <div class="article-container">
        <article class="article">
            <a href={`http://localhost:4321/blog/${blog.linkTitle}`} class="articleContainer">
            <div class="imgContainer">
            <img src= {`../${blog.cardImage}`} alt=""/>
            </div>
            <span class="date">fecha de publicacion: {blog.publicationDate}</span>
            <ul>
                {
                    blog.tags.map((tag) => (
                        <li class="tag">{tag}</li>
                    ))
                }
            </ul>
            <h2>{blog.title}</h2>
            </a>
        </article>
    </div>   
    ))
    }
</div> 

