---
const { page } = Astro.props;
const response = await fetch(`https://apiblog-zzj1.onrender.com/api/blogs?page=${page}`);
const data = await response.json();
const blogs = data.blogs;
---

<div class="articles"> 
    { 
    blogs.map((blog) => (
    <div class="article-container">
        <input type="checkbox" class="" id="eraseCheckbox">
        <article class="article">
            <p class="id">{blog.id}</p>
            <a href={`https://myfirstfitnessblog.netlify.app/blog/${blog.id}`}>
            {/* <a href={`http://localhost:4321/blog/${blog.id}`}> */}
            <div class="articleContainer">
            <div class="imgContainer">
            <img src= {`${blog.cardImage}`} alt=""/>
            </div>
            <span class="date">fecha de publicacion: {blog.publicationDate}</span>
            <ul>
                {
                    blog.tags.map((tag) => (
                        <li class="tag">{tag}</li>
                    ))
                }
            </ul>
            <h2>{blog.title}</h2>
            <p>{blog.description}</p>
        </div>
            </a>
        </article>
    </div>   
    ))
    }
</div> 

