---
const response = await fetch('https://apiblog-zzj1.onrender.com/api/blogs');
const data = await response.json();
const blogs = data.blogs;
---
<div class="articles"> 
    { 
    blogs.map((blog) => (
        <div class="article-container">
        <article class="article">
            <p class="linkId">{blog.id}</p>
            <div class="articleContainer">
            
            <div class="imgContainer">
            <img src= {`${blog.cardImage}`} alt=""/>
            </div>
            <span class="date">fecha de publicacion: {blog.publicationDate}</span>
            <ul>
                {
                    blog.tags.map((tag) => (
                        <li class="tag">{tag}</li>
                    ))
                }
            </ul>
            <h2>{blog.title}</h2>
        </div>
        </article>
        {/* <a href={`https://myfirstfitnessblog.netlify.app/blog/${blog.id}`}>Ir al blog</a> */}
        <a href={`http://localhost:4321/blog/${blog.id}`}>Ir a blog</a>
    </div>
    ))
    }
</div> 
