---
import { currentDomain, backendDomain } from "../scripts/urlDomains.js";

const response = await fetch(`${backendDomain}/api/blogs`);
const data = await response.json();
const pages = data.pages;
const pagesArray = []; 

for (let i = 1; i <= pages; i++) {
    pagesArray.push(i)        
}
const { url = `${currentDomain}/admin-pages/edit-blog/pages/page` } = Astro.props
---

<div class="pageslist"> 
    { 
    pagesArray.map((page) => (
    <a href={`${url}${page}`} class="page-button">{page}</a>   
    ))
    }
</div> 