---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import CommentBox from "../../../components/CommentBox.astro";
import BlogComments from '../../../components/React/BlogComments.jsx';
import BlogPunctuation from '../../../components/React/BlogPunctuation.jsx';
import { backendDomain } from "../../../scripts/urlDomains.js";

const { blogName } = Astro.params;
const currentPage = parseInt(Astro.url.searchParams.get("page") || "1");

const getPages = await fetch(
        `${backendDomain}/api/blogs`
    );
const pagesData = await getPages.json();
const pages = pagesData.pages;
const actualPage = pages - currentPage + 1;


const response = await fetch(`${backendDomain}/api/blogs?page=${actualPage}`);
const data = await response.json();


const blog = data.blogs?.find((blog) => blog.linkTitle === blogName);


if (!blog) {
  console.error(`No se encontró un blog con el linkTitle: ${blogName}`);
  return new Response('Blog not found', { status: 404 });
}

--- 
<BaseLayout title={blog.title}>
  <div class="blogPost">
    <h1 class="blogTitle">{blog.title}</h1>
    <p class="blog-id" style="display: none;">{blog.id}</p>
    <span class="blogDate">publicado el {blog.publicationDate}</span>

    <img src= {`${blog.cardImage}`} alt="Imagen del blog" />

    <div class="blogContent" set:html={blog.content}></div>

    <div class="division"></div>

    <CommentBox />
    <BlogComments blogId={blog.id} client:load />
    <BlogPunctuation blogId={blog.id} client:load />
</div>
</BaseLayout>

<script>import "../../../scripts/comment.js"</script>