---
import BaseLayout from "../../../layouts/BaseLayout.astro";
import CommentBox from "../../../components/CommentBox.astro";
import BlogComments from '../../../components/React/BlogComments.jsx';
import BlogPunctuation from '../../../components/React/BlogPunctuation.jsx';

const { blogName } = Astro.params;
  const response = await fetch('http://localhost:4000/api/blogs');
  const data = await response.json();

  const blog = data.blogs?.find((blog) => blog.linkTitle === blogName);
  
  // console.log("Blog cargado:", blog);
  // console.log("Parámetro blogName:", blogName);
  // console.log("CardImage:", blog.cardImage);

  if (!blog) {
    console.error(`No se encontró un blog con el linkTitle: ${blogName}`);
    return new Response('Blog not found', { status: 404 });
  }

--- 
<BaseLayout>
  <div class="blogPost">
    <h1 class="blogTitle">{blog.title}</h1>
    <p class="blog-id" style="display: none;">{blog.id}</p>
    <span class="blogDate">publicado el {blog.publicationDate}</span>

    <img src= {`${blog.cardImage}`} alt="Imagen del blog" />

    <div class="blogContent" set:html={blog.content}></div>

    <div class="division"></div>

    <CommentBox />
    <BlogComments blogId={blog.id} client:load />
    <BlogPunctuation blogId={blog.id} client:load />
</div>
</BaseLayout>
